.login-container {
  background-image: url("../../assets/others/authentication.png");
  background-size: cover;
}

.inside-login-container {
  background-image: url("../../assets/others/authentication.png");
  background-size: cover;
  box-shadow: black;
}
