.featured-items {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/home/featured.jpg");
  background-size: cover;
  background-attachment: fixed;
}
